@page
@model tpweb.Pages.Tareas.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tarea</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tarea.Titulo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tarea.Titulo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tarea.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tarea.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tarea.FechaEntrega)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tarea.FechaEntrega)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tarea.Materia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tarea.Materia.IdMateria)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Tarea.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
